@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 220 40% 4%;
		--foreground: 150 14% 85%;
		--card: 220 30% 10%;
		--card-foreground: 150 20% 85%;
		--popover: 220 30% 12%;
		--popover-foreground: 150 20% 85%;
		--primary: 155 65% 45%;
		--primary-foreground: 0 0% 98%;
		--secondary: 180 45% 35%;
		--secondary-foreground: 0 0% 98%;
		--muted: 220 15% 18%;
		--muted-foreground: 150 8% 55%;
		--accent: 160 70% 38%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 80% 60%;
		--destructive-foreground: 0 0% 98%;
		--border: 160 20% 30%;
		--input: 160 20% 30%;
		--ring: 155 65% 45%;
		--chart-1: 155 80% 50%;
		--chart-2: 180 65% 40%;
		--chart-3: 200 55% 30%;
		--chart-4: 160 75% 45%;
		--chart-5: 140 70% 50%;
		--radius: 0.75rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
